body {
  background: #123;
  color: #333;
  font-size: 11px;
  height: auto;
  padding-bottom: 20px;
}

a {
  color: #000;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-family: Georgia, serif;
  font-weight: normal;
  padding-top: 20px;
  text-align: center;
}

h2 {
  padding-top: 20px;
  text-align: center;
}

p {
  border: 1px solid #666;
  overflow: hidden;
  padding: 10px 0;
  text-align: center;
}

.container_12,
.container_16,
.container_24 {
  background-color: #fff;
  background-repeat: repeat-y;
  margin-bottom: 20px;
}


header { 
    height:160px;
	border:1px dashed black;	/* Just for Illustration purposes */
	background:#4F4B4B;
	text-align:center;

}
#logo {
	width:300px; 
	height:140px; 
	margin:10px 10px 10px 40px; 
	border:1px dashed red; 
	float:left;
	background:#ccc;
}

/* For Example 1
#adcontent {
	margin: 5px 40px 5px;
	
} 
*/
.ad {
	width:140px; 
	height:140px; 
	border:1px dashed blue; 
	margin:10px;
	float:right;
	background:#ccc;
}

.ad.first {
	margin-right:40px;
} 

nav {
	height:60px;
	margin:20px 0px;
	text-align:center;
	border:1px dashed green; 
	background:#a9a9a9;
}

.center {
	margin:0 auto;
}

.button {
	width:120px;
	height:40px;
	border:1px dashed orange; 
	margin:10px;
	background:#eee;
	cursor:pointer;
	border-radius:10px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
}
.box_300 {
	height:300px;
	width:300px; 
	background:#CCC;
	float:right;
	margin-bottom:20px;
}

.box_300.middle{
	margin:0px 30px;
}
table {
    width:100%;
	margin:20px 0px;
}

table th,td {
	border: 1px solid #bbb;
	text-align:center;
	height:30px;
	vertical-align:middle;
}

th {
	background:#ccc;
	font-weight:bold;
}

tr.alt {
	background: #ccc;
}

 #gallery{
   /* Prevent vertical gaps */
   line-height: 0;
   
   -webkit-column-count: 7;
   -webkit-column-gap:   0px;
   -moz-column-count:    7;
   -moz-column-gap:      0px;
   column-count:         7;
   column-gap:           0px;
   height: 400px;
   margin-top:20px 0px;
   overflow:hidden;
}
#gallery img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
}

footer { 
	margin: 0 auto;
	text-align:center;	
}